.pomadorComp {
  // opacity: 0.1;
  // transform: scale(0.8);
  width: 100%;
  max-height: 510px;
  background-color: var(--color-ultraLigh-grey);
  // transition: all 0.3s;
}

// .visible {
//   opacity: 1;
//   transform: scale(1);
// }
